FORMAT: 1A
HOST: https://api.zeyos.com/{platform}/1.0/

# ZeyOS REST API [draft]

The ZeyOS Library REST API (or ZeyOS REST API) provides access to almost all of your ZeyOS data and gives you a powerful tool to connect third-party applications and other systems with ZeyOS, without having to write a custom ZeyOS app.

The REST API currently consists of two function groups:
- Authentication and session management
- Data access and data manipulation

Using a query language based on SQL, you can extract data from and manipulate data in your ZeyOS database, including simple table JOINs.

For more sophisticated tasks you can also use the [ZeyOS Core API and ZeyOS Library](http://www.zymba.info/] to build custom apps and web services for [ZeyOS](https://developer.zeyos.com/) and even deploy them to ZeyOS users via [ZeyConnect](https://www.zeyconnect.com/).

## Notational Conventions

Literal (verbatim) text is formatted like this: `Hello world`.
Please note that it may contain references or placeholders though which will then be documented.

A common placeholder is `{platform}` which should be replaced with the name of your platform.
For example, the base URL for API requests is `https://api.zeyos.com/{platform}/1.0/`, so if your platform were named `sandbox`, your API URL would be `https://api.zeyos.com/sandbox/1.0/`.

## Versioning Policy

The API is versioned with a **major** and a **minor version number**, making up the API **version number**.

The major version number may be increased along with the ZeyOS major version if there are semantic changes, while the minor version number may be increased when ZeyOS internals affecting the REST API change while keeping the same ZeyOS version number.

**Within the _same major and minor version number_, we reserve the right to _add_ HTTP headers, new parameters or new API endpoints (a.k.a. routes) _without_ breaking backwards compatibility and to _fix privilege escalation and any data leak issues_ (which _may_ break compatibility if you rely on access to otherwise inaccessible data), which is in _contrast_ to semantic versioning.**

We will however **not** change **documented semantics** of endpoints, HTTP headers, request parameters specified in the URI query string or the request body for routes from the point on they are **first made public and documented**.

No assumptions must be made regarding the specific order of properties in a JSON object.

While the REST API may stay the same, the underlying ZeyOS database itself _may_ change its schema on rare occasions (e.g. table or column changes, changes of type identifiers), thereby potentially breaking the REST API indirectly.

If this happens, the broken REST API version will be _phased out_, unless restoring compatibility through internal API code changes is deemed feasible, at our discretion.

All REST API versions **will stay** for as long as there are **no adverse availability-, security- or data-loss-related issues** and **no semantic or database schema changes**.

**Exceptions can be made to maintain or restore availability of ZeyOS, to mitigate attacks or to fix other critical security and data loss situations.**

Any other _incompatible_ changes to the REST API or to ZeyOS will be accompanied by a _new_ REST API version.

We will update our corresponding GitHub repositories to document pending changes several _weeks in advance_ whenever possible to give you time to update your systems and apps to prevent breakage and downtime.

We will also provide migration guides to help you transition to newer REST API versions.

## HTTP Methods

The REST API uses HTTP verbs according to the intended operation, also known as HTTP methods.

| Method | Description            |
| ------ | ---------------------- |
| DELETE | Delete data            |
| GET    | Read data              |
| HEAD   | Check for existence    |
| POST   | Create or update data  |
| PUT    | Create or replace data |

Depending on the requested resource, not all methods may be available.

Sometimes it may not be possible to use the proper HTTP method, for example because you are sending a request from an HTML form or use a restricted HTTP client.

For such cases, the REST API will check any `POST` request for an `X-HTTP-Method-Override` header or a `__method` form variable that specifies the actual intended method, in that order, and use the first non-empty value to route the request.

REST clients, browsers, proxies, web servers and security systems (firewalls, IDS/IPS...) may impose length restrictions on the URL, and thus on URL query parameters.
If your full REST API call URL exceeds 255 characters when using URL query parameters, we therefore recommend to specify the query parameters in a `POST` form variable `__query` and perform an HTTP `POST` with `X-HTTP-Method-Override: GET` (or whatever method you want to use).

## Return Values and Error Handling

The REST API currently only returns JSON data and an HTTP status code indicating the outcome of a request.

HTTP status code 200 is used to indicate a successful response, and the result will be an object with a `result` property as its only member.

```json
{"result":true}
```

When an error occurs, the HTTP status code will be outside the range of 200 - 399, and the JSON response will be an object with an `error` property with an error message.

```json
{"error":"System is in maintenance mode. Please try again later."}
```

We recommend that you treat any response which does not represent a valid JSON object, does not contain the `result` property or has an `error` property, or any HTTP status code outside the 200 - 399 range as an error.

HTTP status codes commonly used by the REST API to indicate failures:

|  Code | Reason                               |
| ----- | ------------------------------------ |
|  200  | No errors.                           |
|  201  | An object was created.               |
|  400  | Generic error / bad request.         |
|  401  | Unauthorized.                        |
|  403  | Access forbidden / permission denied.|
|  404  | Requested resource cannot be found.  |
|  409  | Conflict with an existing resource.  |
|  410  | Resource is gone.                    |
|  500  | Generic error, no details available. |
|  501  | Function not implemented.            |

## Authentication and Session Management

The REST API provides three means of authentication, a token-based mechanism, [HTTP Basic Access Authentication](https://en.wikipedia.org/wiki/Basic_access_authentication) via user name and password and also user name and password sent as plain-text headers, evaluated in this order and stopping as soon as one authentication mechanism is applicable, regardless of its outcome.
Token authentication is recommended for any applications that separate sign-in from interaction with ZeyOS and is likely safer than using user name and password because only a revocable token needs to be persisted.
HTTP Basic Access Authentication on the other hand provides compatibility with existing HTTP clients and can be less complex than managing token sessions when only single, "one-shot" requests should be performed.
Plain-text authentication with headers should be used for testing purposes only, when no other mechanism is usable.

### Token Authentication

Token authentication relies on ZeyOS's token authentication mechanism, which is also exposed to [Zymba](http://www.zymba.info/docs/ZeyOS.TokenAuth/#validate) and [iXML](http://www.ixmldev.com/docs#auth:validate).

Tokens are linked to *identifiers* which should be specific to both the accessing app and device.
This allows devices to renew their tokens independently.

To obtain a new token (and invalidate any previous token for an identifier), call the REST API URI `/{platform}/1.0/auth` using `PUT` or `POST` and specify the user name, password and the app / device identifier as described below.

Token authentication works by including the `Authorization` header in your request with the method indicator `ZeyOS-Token`, a space, the obtained token string, followed by a space and the identifier, as the value, e.g. `Authorization: ZeyOS-Token 2a3e4ec88e66138253a69da3406841fccb1c998e com.example.myapp.dev1138`.

### HTTP Basic Access Authentication

The REST API server itself will _not_ advertise HTTP Basic Access Authentication capabilities by default, i.e. it will not send a `WWW-Authenticate` response header, unless the request includes a URL query parameter `__auth=basic` or was attempted using this authentication method and failed.
However, the REST API will accept and verify an `Authorization: Basic ...` request header if one is supplied (and no authentication token was provided).

### Plain-text User Name & Password Authentication

This mechanism should only be used as a fallback, when the other authentication mechanisms are unusable (e.g. during testing).
To use this authentication method, just send the user name and password in the headers `Zeyos-Api-User` and `Zeyos-Api-Password`.

### Disabling Authentication Methods

HTTP Basic Access and/or the plain-text user name & password authentication methods can be disabled in your ZeyOS system settings.
Administrators can configure these in ZeyOS by clicking on their user icon in the top right area, _System Settings_, and opening the _Config File_ tab.

Insert or update the top-level object `api` like this, taking care to use proper JSON notation:

```json
{
    "api": {
        "auth": {
            "basic": false,
            "password": false
        }
    },
    ...
}
```

HTTP Basic Access Authentication and plain-text password authentication are both enabled by default, unless explicitly disabled like in the example above.

## Data Access and Data Manipulation

Database table rows can be loaded by performing a `GET` with the table name and the database record ID as the path, e.g. `GET /{platform}/1.0/notes/1`.

This will return a JSON-encoded object with the record's columns as properties of the `result` sub-object:

```json
{
    "result": {
        "ID": "1",
        "owneruser": null,
        "ownergroup": null,
        "creator": null,
        "assigneduser": null,
        "creationdate": "1406564511",
        "lastmodified": "1406564511",
        "visibility": "0",
        "name": "To Do",
        "status": "0",
        "text": "Document API",
        "contenttype": "text\/plain",
        "size": "0",
        "binfile": "189330609"
    }
}
```

To load all notes (up to the REST API's internal limit, or to a limit specified with `n=...`, whichever is less), simply omit the ID: `GET /{platform}/1.0/notes`.

If you also want to load extensional data (_"extdata"_), add a `GET` parameter `extdata=1`.
This will include a sub-object `extdata` for each returned object.

To create a record, send a `PUT` request with with the record's data.

Records are updated by sending a `POST` request with data to update.
Data can either be specified as URL-encoded form variables in the `POST` body or as JSON.

`PUT` and `POST` may specify data either in URL-encoded form (`Content-Type: application/x-www-form-urlencoded`, e.g. `name=ACME&city=New+York`) or as JSON (`Content-Type: application/json`).
The latter encoding should be preferred for `PUT` for consistency with the HTTP standard.

Unspecified values will not be modified.
In the case of `PUT`, this means that such values will be initialized with their default values as specified in the database table definition (if `creationdate` and `lastmodified` columns are unspecified, the REST API will fill them with the current date and time).

When using URL-encoding, values are specified as strings and will be converted automatically by the database to the columns' data types, therefore `name=` _(empty)_ would assign the empty string to `name`.

In order to specify NULL values, the REST API introduces a special notation with a prefixed minus sign `-`, e.g. `-name=`.
Note that in this case, any value supplied after the equal `=` character will be ignored.

To add or update extensional data, `extdata` fields may be specified in an `extdata` sub-object, i.e. as a URL-encoded HTTP form variable `extdata[<name>]=<string-value>` (in the request body), or as JSON as shown below:

```json
{
    "name": "My Record",
    "extdata": {
        "iban" : "BE62 5100 0754 7061",
        "count": 25,
        "valid": true
    }
}
```

Any previously existing extdata values will be overwritten with the new values.

Unspecified extdata values however remain untouched unless you also specify a form variable or top-level JSON object property `-extdata=` to remove all existing values.

Specifying `-extdata=` without later supplying any `extdata` fields will remove all extensional data.

When an entity record is created or updated, a "monitor" record (a log entry in the `records` table with `flag` set to `3`; see [ZeyOS schema documentation](http://schema.zeyos.com/)) will be created, unless you specify the URI query parameter `monitor=0`.

`PUT` requests on tags will yield `true` if the tag was linked to the specified entity.

`PUT` requests on database tables / entities will return the database record ID, i.e. the created row's primary key while `POST` requests will return `true` on success.

If you instead want to get the updated record after such a `PUT` or `POST`, specify a URI query parameter `object=1`, e.g. `POST /{platform}/1.0/accounts/42?object=1`.
This can be combined with the `extdata` flag to retrieve associated extensional data at the same time.

## Database Tables with Visibility Flag

Please note that this API provides low-level access to database records in the sense that `DELETE` operations will actually invoke an SQL `DELETE` regardless of any `visibility` table column.

If you want to soft-delete or archive a record on a table with a `visibility` column, set the column to the proper value mark the record as (soft-)deleted or archived.

| Visibility Flag | Description    |
| --------------- | -------------- |
|        0        | Regular object |
|        1        | Archived       |
|        2        | Soft-deleted   |

Please refer to the [ZeyOS Schema documentation](http://schema.zeyos.com/) for tables with a `visibility` flag (in the [_Columns_ section](http://schema.zeyos.com/columns.byColumn.html#columns).

## SQL via REST

The REST API exposes the ZeyOS Library's SQL query builder API, giving developers simple access to ZeyOS data.

Let's start with an example, searching for a text note where the name is `Vacation` or which contains the text `Jul`, followed by `2014` (e.g. `Jul 2014` or `July 28, 2014`):

```
GET /{platform}/1.0/notes
?a=n
&s=["n.text"]
&w[]=or
&w[]=["name", "Vacation"]
&w[]=["text","Jul%2014","ILIKE"]
&w[]=["text"]
&w[]=ea
&o[]=lastmodified
&o[]=creationdate-
&n=100
&i=200
```

Other than querying for rows, it is also possible to determine the row count with `q=c` or to obtain the SQL statement via `q=s`.

| Parameter |  Type       | Description                              | Example                  |
| --------- | ----------- | ---------------------------------------- | ------------------------ |
| `a`       | string      | Alias                                    | `a=note`                 |
| `d`       | bool        | DISTINCT                                 | `d=1`                    |
| `s`       | string/json | SELECT (see below)                       | `s[]=ID`                 |
| `m`       | string/json | Case-insensitive text search (see below) | `m=Anna`                 |
| `w`       | string/json | WHERE (see below)                        | `w[]=["name","Holiday"]` |
| `j`       | string/json | JOIN (see below)                         | `j[]=["contact"]`        |
| `g`       | string      | GROUP BY; name of column to group by     | `g[]=name`               |
| `o`       | string      | ORDER BY; column name plus optional "+"  for ascending, "-" for descending order and "F" / "L" for `NULLS FIRST` / `NULLS LAST` | `o[]=creationdate-` |
| `n`       | int         | LIMIT                                    | `n=25`                   |
| `i`       | int         | OFFSET                                   | `i=100`                  |
| `q`       | string      | Query: `c` for `COUNT`, `s` for the SQL  | `q=s`                    |
| `x`       | bool        | Set to `1` (or `true` when using JSON) to obtain numerically indexed columns (default: associative keys). | `x=1`                    |


### SELECT parameters

`SELECT` columns are given as `s[<index>]=<column>` or `s[<index>]=[<column>, <alias>]`, where `index` may be omitted (it will be inferred automatically from the order the columns are specified).

Examples:

```
s[]=ID
s[0]=text
s[]=["postalcode","pc"]
```

### Case-Insensitive Text Search

The REST API exposes a search function which behaves like the search text boxes in ZeyOS, performing a search for all supplied terms.

For example, the query `m=Hello+world` (`+` denotes a URL-encoded space) on the `appointments` table basically creates this `WHERE` condition:
```
(
    (
        LOWER("name") LIKE '%hello%' OR
        LOWER("location") LIKE '%hello%'
    ) AND (
        LOWER("name") LIKE '%world%' OR
        LOWER("location") LIKE '%world%'
    )
)
```

The search runs on pre-defined columns specific to each table that are likely to be shared among few rows only, e.g. a name, an identifier or a transaction number column.

You can find a list of considered columns in the parameter documentation for the list API call of each table.

Terms are broken up when space (whitespace) characters are encountered; to specify terms with spaces, double quotes `"` may be used, e.g. `m="Hello+world"`.

### WHERE

`WHERE` conditions must be specified as JSON: `w[<index>]=[<column>, <value>, <operator>]`, where `<index>`, `<value>` and `<operator>` are optional and may be omitted.

There are special "conditions" to create sub-conditions, namely `and` and `or`:

```
w[]=and
w[]=or
```

Both start a sub-condition which must be closed with `el` (end level) or `ea` (end all).
`el` closes the currently open sub-condition while `ea` closes all sub-conditions.

You can think of `and` / `or` to be equivalent to opening parentheses `(` and the respective conjunction / disjunction within the sub-condition and `el` to correspond to a closing parenthesis `)`.

Consequently, `ea` is a shortcut for as many `el` clauses as necessary to terminate all open sub-conditions.

Currently, the following operators are supported for `WHERE` (aliases may be used in place of the specified operator):

| Operator      | SQL Equivalent                     | Example                          | Aliases           |
| ------------- | ---------------------------------- | -------------------------------- | ----------------- |
| `n`           | `<column> IS NULL`                 | `["record",null,"n"]`            | `NULL`            |
| `nn`          | `<column> IS NOT NULL`             | `["record",null,"nn"]`           | `NOT_NULL`        |
| `=`           | `<column> = <value>`               | `["company","Zeyon","="]`        | `EQUAL` (default, can be omitted) |
| `!=`          | `<column> <> <value>`              | `["ID",5,"!="]`                  | `NOT_EQUAL`       |
| `ge`          | `<column> >= <value>`              | `["amount",100.00,"ge"]`         | `GREATER_EQUAL`   |
| `gt`          | `<column> > <value>`               | `["amount",100.00,"gt"]`         | `GREATER_THAN`    |
| `le`          | `<column> <= <value>`              | `["amount",100.00,"le"]`         | `LESS_EQUAL`      |
| `lt`          | `<column> < <value>`               | `["amount",100.00,"lt"]`         | `LESS_THAN`       |
| `in`          | `<column> IN <value>`              | `["status",[0,1],"in"]`          | `IN`              |
| `!in`         | `<column> NOT IN <value>`          | `["status",[5,6],"!in"]`         | `NOT_IN`          |
| `b`           | `<column> BETWEEN <a> AND <b>`     | `["status",[0,4],"b"]`           | `BETWEEN`         |
| `!b`          | `<column> NOT BETWEEN <a> AND <b>` | `["status",[5,9],"!b"]`          | `NOT_BETWEEN`     |
| `LIKE`        | `<column> LIKE <value>`            | `["text","%Jack%","LIKE"]`       |                   |
| `ILIKE`       | `<column> ILIKE <value>`           | `["text","%christmas%","ILIKE"]` |                   |
| `!`           | `NOT <column>`                     | `["status",null,"!"]`            | `NOT`             |
| `!v`          | `NOT <value>`                      | `["status",0,"!v"]`              | `NOT_VALUE`       |

The operators `=` and `!=` will also handle `null` and array values properly.
The following conditions on the left- and right-hand sides are equivalent:

```
["record",null,"n"]      ["record",null]
["record",null,"nn"]     ["record",null,"!="]
["status",[0,1],"in"]    ["status",[0,1]]
["status",[5,6],"!in"]   ["status",[5,6],"!="]
```

For example, the SQL condition `WHERE (a = 1 OR b = 'x')` would be written as

```
w[]=or                     #  (, use "OR"
w[]=["a",1]                #      a = 1
w[]=["b","x"]              #      b = 'x'
w[]=el                     #  )
```

A more complex example:

```sql
WHERE
    (creationdate >= 1234567890) AND
    (
        (company ILIKE 'Zeyon Tech%' AND country = 'CA') OR
        (company = 'Zeyon GmbH & Co. KG' AND country = 'DE')
    )
```

becomes

```
w[]=and                                           # (, use "AND"
  w[]=["creationdate",1234567890,"ge"]            #   (creationdate >= 1234567890)
  w[]=or                                          #   (, use "OR"
    w[]=and                                       #     (, use "AND"
      w[]=["company","Zeyon Tech%","ILIKE"]       #       company ILIKE 'Zeyon Tech%'
      w[]=["country","CA"]                        #       country = 'CA'
      w[]=el                                      #     )
    w[]=and                                       #     (, use "AND"
      w[]=["company","Zeyon GmbH & Co. KG"]       #       company = 'Zeyon GmbH & Co. KG'
      w[]=["country","DE"]                        #       country = 'DE'
w[]=ea                                            # )))
```

In a real query, we would then need to URL-encode the query parameters to get this:

```
w%5B%5D=and&
w%5B%5D=%5B%22creationdate%22%2C1234567890%2C%22ge%22%5D&
w%5B%5D=or&
w%5B%5D=and&
w%5B%5D=%5B%22company%22%2C%22Zeyon%20Tech%25%22%2C%22ILIKE%22%5D&
w%5B%5D=%5B%22country%22%2C%22CA%22%5D&
w%5B%5D=el&
w%5B%5D=and&
w%5B%5D=%5B%22company%22%2C%22Zeyon%20GmbH%20%26%20Co.%20KG%22%5D&
w%5B%5D=%5B%22country%22%2C%22DE%22%5D&
w%5B%5D=ea
```

### JOIN

For security reasons and simplicity, the REST API limits SQL JOINs to a subset of *"managed" JOINs* on tables related to the main table you are querying.

Managed JOINs are defined by specifying the foreign key column, optionally together with the table name, the JOIN type (`INNER` for `INNER JOIN`, `LEFT` for `OUTER LEFT JOIN`) and an alias for the joined table.

        j[]=[<column>, <table>, <join type>, <alias>]

All parameters but `<column>` are optional.

The alias parameter can be a string specifying the alias for the _joined_ table or an object that maps _table names to aliases_.
It **must** be specified only when any of the involved tables are aliased.

For example, if we were to query the `accounts` table and wanted to JOIN it with its assigned `contacts` record via `accounts.contact`, we would use

```
GET /{platform}/1.0/accounts
?j[]=["contact"]
```

Using the `JOIN`, we could use any column from the `contacts` table to limit our search:

```
GET /{platform}/1.0/accounts
    ?j[]=["contact"]
    &w[]=["contacts.company","Zeyon Technologies, Inc."]
```

It is also possible to JOIN on already joined tables ("transitive" JOINs).

In the simplest case, you provide the first JOIN from the main table and then the second from the first joined table to the third.

Let us consider this query:

```sql
SELECT *
FROM records
JOIN users ON records.creator = users.ID
JOIN contacts ON users.contact = contacts.ID
LIMIT 5
```

The REST API query would then look like this:

```
GET /{platform}/1.0/records
    ?j[]=["creator", "records"]
    &j[]=["contact", "users"]
    &n=5
```

Transitive JOINs are determined automatically, based on already defined JOINs.

Things get more complicated when aliases are used as these may introduce ambiguities.
The REST API then needs to know which table uses which alias, so you have to specify them explicitly.

When aliases are used in joining tables, they must be specified in the JOIN definition.
For example, the query

```sql
SELECT *
FROM records
JOIN users AS u ON records.creator = u.ID
LIMIT 5
```

would be written as

```
GET /{platform}/1.0/records
    ?a=r
    &j[]=["creator", "records", "INNER", "u"],
    &n=5
```

If the table for which the JOIN column is given is aliased (the `records` table in the example above), **both** tables and their aliases must be declared, e.g.

```sql
SELECT *
FROM records AS r
JOIN users AS u ON r.creator = u.ID
JOIN contacts AS c ON u.contact = c.ID
LIMIT 5
```

would then be:

```
GET /{platform}/1.0/records
    ?a=r
    &j[]=["creator", "records", "INNER", { "records": "r", "users": "u" }],
    &j[]=["contact", "users", "INNER", { "users": "u", "contacts": "c" }]
    &n=5
```

or in JSON

```json
{
    "a": "r",
    "j": [
        [
            "creator",
            "records",
            "INNER",
            {
                "records" : "r",
                "users"   : "u"
            }
        ],
        [
            "contact",
            "users",
            "INNER",
            {
                "users"   : "u",
                "contacts": "c"
            }
        ]
    ],
    "n": 5
}
```

# Group Authentication and Session Management

## Authentication [/auth{?object}{?settings}]

The authentication API yields the authenticated user's details when requesting`GET /{platform}/1.0/auth` or `POST /{platform}/1.0/auth?object=1`.
The returned data object contains most of the `users` table columns, permissions and possibly an (incomplete) `contact` sub-object that looks like this:

```json
"contact": {
    "ID": "1493",
    "lastname": "Ple",
    "firstname": "Exam",
    "email": "user@example.com",
    "gravatar": "b58996c504c5638798eb6b511e6f49af",
    "picbinfile": null
}
```

If the authenticated user does not have a contact assigned, the `contact` property will be `null` instead.

### Get Information About Authenticated User [GET]

+ Parameters

    + settings (optional, int) ... `1` to retrieve user settings in a sub-property `settings`, `0` (default) to skip returning the settings

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2

+ Response 200 (application/json)

        {
            "result": {
                "ID": "2",
                "creator": "1",
                "creationdate": "1396271948",
                "lastmodified": "1408359239",
                "contact": null,
                "activity": "0",
                "name": "sam",
                "expdate": "1438526760",
                "lastlogin": "1408359239",
                "description": "",
                "settingsbinfile": "-187129610",
                "email": "sam@example.com",
                "groups": {
                "19": true
                },
                "groupNames": {
                    "19": "Sample Group"
                },
                    "permissions": {
                    "notes": true,
                    "contacts": true,
                    "users": false,
                    "billing": false,
                    "messages": true,
                    "tasks": true
                }
            }
        }

+ Response 400 (application/json)

        {
            "error": "Invalid credentials or user locked."
        }

### Receive Authentication Token [POST]

Parameters:

* user (string, `demo`) ... The ZeyOS user name
* password (string, `demo`) ... The user's password
* identifier (string, `com.example.app1.device2`) ... The app and device identifier

+ Parameters

    + object (optional, int) ... `POST` | `PUT` only: `1` to retrieve the user object, `0` (default) to retrieve the token only
    + settings (optional, int) ... `1` to retrieve user settings with the user object in a sub-property `settings` (requires `object=1`), `0` (default) to skip returning the settings

+ Request

    + Headers

            Content-Type: application/json

    + Body

            {
                "user": "demo",
                "password": "demo",
                "identifier": "com.example.app1.device2"
            }

+ Response 200 (application/json)

        {
            "result": "com.example.app1.device2:6183ec9028caeee647246be2ac82e620a1830b6d"
        }

+ Response 400 (application/json)

        {
            "error": "Invalid credentials or user locked."
        }

### Verify Authentication Token [HEAD]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2

+ Response 200

+ Response 410

### Invalidate Authentication Token [DELETE]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2

+ Response 200 (application/json)

        true

## User Settings [/auth/settings]

### Get Settings for Authenticated User [GET]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2

+ Response 200 (application/json)

        {
            "result": {
                "views": {
                    "enhancements_index": {
                        "tab": 2
                    },
                    "enhancements_index_applications": {
                        "fields": ["name", "identifier", "vendor", "lastmodified"],
                        "activity": null,
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "grouping": "",
                        "query": "test-array-variadic",
                        "sort": "name",
                        "tag": ""
                    },
                    "enhancements_index_services": {
                        "application": null,
                        "fields": ["name", "identifier", "application", "type", "entity"],
                        "activity": null,
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "grouping": "",
                        "query": "test",
                        "sort": "name",
                        "tag": "",
                        "type": null
                    },
                    "groups_index": {
                        "activity": null,
                        "fields": ["name", "leader", "permissions", "users"],
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "grouping": "",
                        "query": "",
                        "sort": "name",
                        "tag": ""
                    },
                    "accounts_index": {
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "letter": "",
                        "my": 0,
                        "query": "",
                        "tag": "",
                        "type": null,
                        "visibility": 0,
                        "tab": 1
                    },
                    "accounts_index_cardview": {
                        "fields": ["name", "contact", "company", "position", "postalcode", "city", "region", "country", "phone", "cell", "email", "website"],
                        "grouping": "",
                        "sort": "name"
                    },
                    "accounts_index_tableview": {
                        "fields": ["name", "extdata_zeyconnect_id", "contact", "accountnum", "city", "phone", "email", "extdata_zimmernum", "currency", "lastmodified"],
                        "grouping": "",
                        "sort": "extdata_zeyconnect_id"
                    },
                    "inventory_index": {
                        "fields": ["name", "extdata_zeyconnect_id", "lastmodified", "manufacturer", "itemnum", "actualstock", "effectivestock", "type"],
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "grouping": "",
                        "query": "",
                        "sort": "-lastmodified",
                        "tag": "Milling Services",
                        "visibility": 0
                    },
                    "enhancements_index_resources": {
                        "application": null,
                        "fields": ["name", "identifier", "application", "lastmodified", "mimetype"],
                        "activity": null,
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "grouping": "",
                        "query": "test",
                        "sort": "name",
                        "tag": ""
                    },
                    "users_index": {
                        "activity": null,
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "group": null,
                        "letter": "",
                        "query": "",
                        "tag": "",
                        "tab": 0
                    },
                    "users_index_cardview": {
                        "fields": ["name", "contact", "company", "position", "postalcode", "city", "region", "country", "phone", "cell", "email", "website"],
                        "grouping": "",
                        "sort": "name"
                    },
                    "pricelists_index": {
                        "activity": null,
                        "fields": ["name", "type", "expdate", "currency", "items", "accounts"],
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "grouping": "",
                        "query": "",
                        "sort": "name",
                        "tag": "",
                        "type": null
                    },
                    "billing_index": {
                        "account": null,
                        "activity": null,
                        "enddate": null,
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "my": 0,
                        "normcurrency": 0,
                        "query": "",
                        "startdate": null,
                        "tag": "",
                        "tab": 3
                    },
                    "billing_index_quotes": {
                        "account": null,
                        "activity": null,
                        "enddate": null,
                        "fields": ["transactionnum", "date", "assigneduser", "account", "status", "netamount"],
                        "grouping": "",
                        "normcurrency": 0,
                        "query": "",
                        "startdate": null,
                        "sort": "-date",
                        "tag": ""
                    },
                    "pricelists_details_pricelist_accounts": {
                        "fields": ["name", "accountnum", "city", "phone", "email"],
                        "grouping": "",
                        "letter": "",
                        "query": "",
                        "sort": "name",
                        "type": null
                    },
                    "pricelists_details_pricelist_items": {
                        "fields": ["name", "itemnum", "price", "unit", "rebate", "discount", "effectiveprice", "minamount"],
                        "grouping": "",
                        "query": "",
                        "sort": "name"
                    },
                    "inventory_details_item_pricelists": {
                        "fields": ["name", "type", "currency", "price", "rebate", "discount", "effectiveprice", "minamount"],
                        "grouping": "",
                        "query": "",
                        "sort": "name",
                        "type": null
                    },
                    "inventory_storages": {
                        "fields": ["name"],
                        "grouping": "",
                        "query": "",
                        "sort": "name",
                        "tag": "",
                        "visibility": 0
                    },
                    "inventory_details_item_transactions": {
                        "enddate": null,
                        "fields": ["date", "storage", "transaction", "chargenum", "amount"],
                        "grouping": "",
                        "query": "",
                        "sort": "-date",
                        "startdate": null
                    },
                    "inventory_details_item_fabrications": {
                        "enddate": null,
                        "fields": ["fabricationnum", "date", "status", "totalamount", "totalcosts", "price"],
                        "grouping": "",
                        "query": "",
                        "sort": "-date",
                        "startdate": null,
                        "status": null
                    },
                    "enhancements_index_extdatatemplates": {
                        "application": null,
                        "fields": ["name", "identifier", "application", "entity", "masterdata"],
                        "activity": null,
                        "grouping": "",
                        "query": "",
                        "sort": "name",
                        "tag": ""
                    },
                    "tasks_index": {
                        "activity": null,
                        "assigneduser": null,
                        "fields": ["name", "tasknum", "assigneduser", "project", "status", "priority", "progress"],
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "grouping": "",
                        "my": 0,
                        "project": null,
                        "query": "",
                        "sort": "name",
                        "tag": "",
                        "visibility": 0,
                        "status": null
                    },
                    "procurement_index": {
                        "tab": 0
                    },
                    "procurement_index_requests": {
                        "account": null,
                        "activity": null,
                        "enddate": null,
                        "fields": ["transactionnum", "date", "assigneduser", "account", "status", "netamount"],
                        "grouping": "",
                        "normcurrency": 0,
                        "query": "",
                        "startdate": null,
                        "sort": "-date",
                        "tag": ""
                    },
                    "enhancements_index_weblets": {
                        "application": null,
                        "fields": ["name", "identifier", "application", "view", "type"],
                        "activity": null,
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "grouping": "",
                        "query": "test-array-variadic",
                        "sort": "name",
                        "tag": "",
                        "type": null
                    },
                    "calendar_index": {
                        "color": "",
                        "contact": null,
                        "my": 0,
                        "query": "",
                        "tag": "",
                        "date": 1405421312,
                        "tab": 0
                    },
                    "calendar_index_agenda": [],
                    "calendar_index_year": [],
                    "calendar_index_month": [],
                    "calendar_index_week": [],
                    "billing_index_invoices": {
                        "fields": ["transactionnum", "extdata_platform_name", "extdata_zeyconnect_id", "date", "assigneduser", "account", "status", "netamount", "lastmodified"],
                        "grouping": "",
                        "sort": "-date",
                        "account": null,
                        "activity": null,
                        "enddate": null,
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "my": 0,
                        "normcurrency": 0,
                        "query": "",
                        "startdate": null,
                        "tag": ""
                    },
                    "messages_index": {
                        "enddate": null,
                        "important": 0,
                        "mailbox": 0,
                        "query": "",
                        "startdate": null,
                        "tag": "",
                        "tab": 0
                    },
                    "messages_index_cardview": {
                        "fields": ["subject", "sender", "to", "date"],
                        "grouping": "",
                        "sort": "-date"
                    },
                    "messages_mailservers": {
                        "activity": null,
                        "fields": ["name", "sender", "recipient", "serverin", "serverout"],
                        "grouping": "",
                        "query": "",
                        "sort": "name",
                        "tag": ""
                    },
                    "contacts_index": {
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "letter": "",
                        "query": "",
                        "my": 0,
                        "tag": "",
                        "type": null,
                        "visibility": 2,
                        "tab": 1
                    },
                    "contacts_index_cardview": {
                        "fields": ["name", "company", "position", "department", "postalcode", "city", "region", "country", "phone", "cell", "email", "website"],
                        "grouping": "",
                        "sort": "name"
                    },
                    "enhancements_objects": {
                        "fields": ["name", "entity", "ID", "owner", "assigneduser"],
                        "grouping": "",
                        "query": "",
                        "sort": "name",
                        "tag": "",
                        "visibility": 0
                    },
                    "projects_index": {
                        "activity": null,
                        "assigneduser": null,
                        "fields": ["name", "projectnum", "status", "tasks", "progress", "costs", "actualeffort"],
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "grouping": "",
                        "my": 0,
                        "query": "",
                        "sort": "name",
                        "tag": "",
                        "visibility": 0
                    },
                    "clocking_index": {
                        "activity": null,
                        "assigneduser": null,
                        "enddate": null,
                        "fields": ["date", "assigneduser", "holder", "subject", "actualeffort"],
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "grouping": "",
                        "my": 0,
                        "project": null,
                        "query": "",
                        "sort": "-date",
                        "startdate": null,
                        "tag": ""
                    },
                    "links_index": {
                        "assigneduser": null,
                        "fields": ["name", "assigneduser", "url", "visits"],
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "grouping": "",
                        "my": 0,
                        "query": "",
                        "sort": "name",
                        "tag": "",
                        "visibility": 0
                    },
                    "opportunities_index": {
                        "account": null,
                        "activity": null,
                        "assigneduser": null,
                        "fields": ["name", "opportunitynum", "assigneduser", "account", "status", "priority", "outcome"],
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "grouping": "",
                        "my": 0,
                        "query": "",
                        "sort": "name",
                        "tag": "",
                        "visibility": 0
                    },
                    "notes_index": {
                        "activity": null,
                        "assigneduser": null,
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "my": 0,
                        "query": "",
                        "tag": "",
                        "visibility": 0,
                        "tab": 0
                    },
                    "notes_index_cardview": {
                        "fields": ["name", "assigneduser", "status", "lastmodified", "text"],
                        "grouping": "",
                        "sort": "name"
                    },
                    "tickets_index": {
                        "account": null,
                        "activity": null,
                        "assigneduser": null,
                        "fields": ["name", "ticketnum", "assigneduser", "account", "status", "priority"],
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "grouping": "",
                        "my": 0,
                        "query": "",
                        "sort": "name",
                        "tag": "",
                        "visibility": 0
                    },
                    "contacts_index_tableview": {
                        "fields": ["name", "company", "city", "phone", "email", "lastmodified"],
                        "grouping": "",
                        "sort": "name"
                    },
                    "admin_usermgmt": {
                        "tab": 0
                    },
                    "admin_usermgmt_users": {
                        "fields": ["name", "contact", "expdate", "reference", "lastlogin", "groups"],
                        "group": null,
                        "activity": null,
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "grouping": "",
                        "letter": "",
                        "query": "",
                        "sort": "name",
                        "tag": ""
                    },
                    "admin_usermgmt_groups": {
                        "fields": ["name", "leader", "permissions", "users"],
                        "activity": null,
                        "filters_field": [],
                        "filters_func": [],
                        "filters_value": [],
                        "follow": 0,
                        "grouping": "",
                        "letter": "",
                        "query": "",
                        "sort": "name",
                        "tag": ""
                    }
                },
                "notify": 1402589300
            }
        }

# Group Configuration

## Platform Configuration [/config]

### Get Platform Configuration [GET]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2

+ Response 200 (application/json)

        {
            "result": {
                "ldapauth_server": "",
                "ldapauth_formatdn": "",
                "ldapauth_ldaponly": 0,
                "country": "",
                "currency": "EUR",
                "pricecountdec": null,
                "developerkey": "1234567890abcdef01234567890abcde",
                "initialpassword": "",
                "adminonly_deldeleted": 0,
                "langurl": "",
                "calltourl": "",
                "smtp_username": "",
                "smtp_password": "",
                "taxrate": 0,
                "smtp_server": "mail.example.com:25\/tls",
                "session_path": "\/myplatform\/",
                "units": {
                    "10": "Platform",
                    "11": "User",
                    "37": "KG",
                    "L": "L",
                    "C62": "STK",
                    "BR": "PR",
                    "SET": "SET",
                    "LS": "PAUSCH",
                    "LH": "STD",
                    "MGM": "MG",
                    "GRM": "G",
                    "TV": "TN",
                    "CMT": "CM",
                    "CMK": "CM2",
                    "CMQ": "CM3",
                    "MTR": "M",
                    "MTK": "M2",
                    "MTQ": "M3",
                    "DAY": "MT",
                    "1I": "Script",
                    "4L": "MB",
                    "E34": "GB",
                    "ACT": "Records"
                },
                "permissions": {
                },
                "extdatafields": {
                },
                "numformat": {
                    "tasknum": "",
                    "projectnum": ""
                }
            }
        }

# Group Record Numbers

Most tables have a [numformat](http://www.zymba.info/docs/ZeyOS.NumFormat/) column named `...num` that is unique across the ZeyOS database and which serves as a secondary _logical_ record identifier, meaning that it _should_ &ndash; but need not &ndash; be unique within its database table.

For example, the `tasks` table's numformat column is `tasknum`, and `projects` table has a `projectnum` column.
The `accounts` table as a special case has two numformat columns, `customernum` and `suppliernum`, because it can hold both customers and suppliers.
Accounts of customers and prospects will have the `customernum` set automatically on save, while suppliers will have the `suppliernum` column set, and supplier-customers will have both numformat columns set.
Competitor accounts will auto-fill none of those columns.

The corresponding format string to render the numformat value is defined in the [system configuration](#reference/configuration) in a sub-object `numformat` which maps the numformat column name to the format string, e.g.

```json
{
    ...
    "numformat": {
        "tasknum": "\\T.X5"
    }
    ...
}
```

The example above produces a `tasknum` value starting with a literal `T`, followed by the auto-incremented numformat counter formatted to 5 digits, e.g. `T.00042`.

The counter is not transaction-safe, though: It is increased immediately upon a successful save, regardless of any wrapping transaction.
That is, even a transaction that is rolled back after the save will not change the fact that the counter is increased when the save in itself was successful.

Please note that as the counter value is read _before_ incrementing and then incremented on save, there is a very small chance that two concurrent saves yield two records with the _same_ numformat value.
This behavior is consistent with how ZeyOS itself saves and increments the counter, and is for technical and performance reasons.

You can look up numformat columns in the [ZeyOS database schema documentation](http://schema.zeyos.com/).

## Format Strings

The following table lists format sequences supported by ZeyOS and this API.

| Sequence   | Description                                                              | Example Input | Example Result                       |
| ---------- | ------------------------------------------------------------------------ | ------------- | ------------------------------------ |
| `D`        | Day of the month, 2 digits, zero-padded                                  | `D`           | `01` to `31`                         |
| `d`        | Day of the month, no leading zeros                                       | `d`           | `1` to `31`                          |
| `j`        | The current year as a one-/two-digit representation, no leading zeros    | `j`           | `3` for year `2003`, `15` for `2015` |
| `M`        | Numeric representation of a month, zero-padded                           | `M`           | `01` to `12`                         |
| `m`        | Numeric representation of a month, no leading zeros                      | `m`           | `1` to `12`                          |
| `L`        | Random upper-case letter (`A` - `Z`)                                     | `L`           | `A` to `Z`                           |
| `l`        | Random lower-case letter (`a` - `z`)                                     | `l`           | `a` to `z`                           |
| `N`        | Random digit (`0` - `9`)                                                 | `N`           | `0` to `9`                           |
| `n`        | Random digit (`1` - `9`)                                                 | `n`           | `1` to `9`                           |
| `W`        | ISO-8601 week number of year, weeks starting on Monday, zero-padded      | `W`           | `01` to `53`                         |
| `w`        | ISO-8601 week number of year, weeks starting on Monday, no leading zeros | `w`           | `1` to `53`                          |
| `X`        | The counter                                                              | `X`           | `42`                                 |
| `X[<n>]`   | The counter, zero-padded to `<n>` digits                                 | `X4`          | `0042`                               |
| `Y`        | The current year as a four-digit representation, zero-padded             | `Y`           | `2015`                               |
| `y`        | The current year as a two-digit representation, zero-padded              | `y`           | `15`                                 |
| `Z`        | The day of the year (starting from 0), zero-padded                       | `Z`           | `000` to `365`                       |
| `z`        | The day of the year (starting from 0), no leading zeros                  | `z`           | `0` to `365`                         |
| `\<c>`     | Escapes a literal character `<c>`                                        | `\D`          | `D`                                  |

## Formatted Numbers [/numformat/{name}]

### Get Formatted Number [GET]

Returns the next used number that would be used for the [numformat](http://www.zymba.info/docs/ZeyOS.NumFormat/) column with the specified name when creating a record without an explicit value for that column, e.g. for the `tasks` table's `tasknum` column.

+ Parameters

    + name (required, string) ... The name of the ["numformat" string](http://www.zymba.info/docs/ZeyOS.NumFormat/), i.e. the `...num` column name

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2

+ Response 200 (application/json)

        {
            "result": "T.00002"
        }

+ Response 200 (application/json)

        {
            "result": ""
        }

# Group Open Graph Metadata

## Retrieving a Website Summary [/meta/url?{url}]

ZeyOS automatically fetches Facebook Open Graph metadata from web pages referenced in Mindlog entries to display them with the web page's summary.
Applications can obtain such a web page summary by calling the `meta` route of the REST API.

### Load Open Graph web page summary [GET]

Returns an object with web page metadata, or `null` if the web page does not have Open Graph metadata.

+ Parameters

    + url (required, string) ... The full web page URL

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2

+ Response 200 (application/json)

        {
            "result": {
                "url": "http:\/\/www.example.com\/2015\/03\/14\/Pi_Day",
                "title": "Super Pi Day Celebration",
                "description": "Celebrate Super Pi Day with us on 03/14/15!",
                "site": "Pi Site",
                "image": "http:\/\/www.example.com\/pie.jpg"
            }
        }

+ Response 200 (application/json)

        {
            "result": null
        }

# Group Timezone

## Retrieving the Current Timezone [/timezone]

Returns the timezone configured for the platform as an object with the properties `name`, the timezone name, and `offset` with the timezone offset in seconds.

### Get Platform Timezone Name and Offset [GET]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2

+ Response 200 (application/json)

        {
            "result": {
                "name"  : "Europe\\/Berlin",
                "offset": 7200
            }
        }

## Retrieving the Current Timezone Name [/timezone/name]

Returns the name of the timezone configured for the platform.

### Get Platform Timezone Name [GET]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2

+ Response 200 (application/json)

        {
            "result": "Europe\\/Berlin"
        }

## Retrieving the Current Timezone Offset [/timezone/offset]

Returns the offset for the platform's timezone.

### Get Platform Timezone Offset in Seconds [GET]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2

+ Response 200 (application/json)

        {
            "result": 7200
        }

# Group ZeyOS and REST API Version

## Retrieving ZeyOS and REST API Version [/version]

Returns the platform's ZeyOS and REST API version.

Both versions are returned as integer numbers in the format `M*mmbb`, where `M*` are zero or more digits for the major version, `mm` represent the minor version and `bb` the build number.
Backward-compatible changes are logged in the build number alone while minor schema or semantic changes may result in an increase in the minor version.
Changes to the major version denote major changes in the database schema, user interface and / or API.

### Get ZeyOS and REST API Version [GET]

Returns an object with the numeric versions in the properties `zeyos` and `api`.

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2

+ Response 200 (application/json)

        {
            "result": {
                "zeyos": 9982,
                "api"  : 10000
            }
        }

# Group Batch Requests

## Specifying Commands

Performing multiple requests one at a time requires multiple network round-trips and consumes more resources, making them slow and expensive.

Therefore, ZeyOS exposes a REST API route for batch requests to which you can bundle and send multiple requests for processing and retrieve the results upon completion.

A batch request is specified as an _array of commands_ (a **command block**) and should be sent in JSON form using the `Content-Type: application/json` request header.
Alternatively, you could also send batch requests as URL-encoded `POST` data, although this is not recommended.

By default, the result of a batch request is the outcome of the _last command_ in the batch, but you can also obtain other or all results by using special commands.

Commands can be **assignments**, **settings**, **requests** or **entire command blocks**, i.e. command blocks are _nestable_.

Settings that accept a boolean `true` or `false` will default to `true` when the _value is unspecified_.
They are _not_ inherited by nested command blocks and will default to `false` when the _setting is not specified_ at all.

**All commands return a result.**
Settings will return the _setting's value_ after the assignment.

When a batch request is run, a result block will be assembled to store the results of each executed command, using the _same index_ that is used for the corresponding command.

The result of a _command block_ is the result of the block's _last command_.

Currently, the following commands are recognized:

### Assignments

- `=<ref-string>`
  Returns a string assembled according to `<ref-string>`.

  This may contain _path references_ to results previously obtained in the form `{{<ref-path>}}`.

  If the string consists of `{{<ref-path>}}` only, that result will be returned as-is, i.e. without any string conversion, but you can use the `string` modifier if necessary (e.g. `{{string:result}}`).

  Any additional characters before or after such a result reference, or multiple references will automatically convert all referenced results to strings.

  For a literal `{`, prepend it with a backslash, i.e. `\{`.
  However, you only need to backslash-escape if you have two consecutive opening curly braces `{{`, and only the first brace, i.e. `\{{` is sufficient.

- `all`
  Returns all results from the previously executed commands and stores that as a result.

- `select=<ref-path>`
  Returns the resolved result referenced by the given path.

**See also the section _Referencing Results_ for more details on paths and result references.**

### Settings

- `dry_run[=true|false]`
  If `true`, ZeyOS requests will not be executed, and the parsed command will be returned instead.

- `resume_on_fail[=true|false]`
  If set to `true`, batch execution will proceed even if an error occurs, and the failed commands will yield an object with an `error` property as they do for regular requests.
  When using this setting, transactions must be disabled or be confined to a nested command block below the current block.

- `transaction[=true|false]`
  Enables or disables database transactions for all subsequent commands in the command block until this setting is changed again.

  Within an enabled transaction, _all_ changes by commands in it that access the database will become effective and visible _only if and after_ all database-accessing commands have succeeded.
  If _any one_ command fails, all subsequent commands in the transaction _will also fail_ when they access the database, and all transactional changes will be _rolled back_ after the last executed command in the transactional sequence.

### Requests

A request is given as an object with at least a `path` property.

An HTTP method may be specified in the `verb` property and will default to `GET` if omitted.
An object of URL query parameters can be supplied via `query`, and form variables as sent by a `POST` request can be supplied via `body`, also as an object.

For example, the request `GET /records?n=2&o[]=lastmodified-` would be equivalent to:

```json
{
    "verb" : "GET",              // Default, may be omitted
    "path" : "/records",
    "query": {
        "n": 2,
        "o": [
            "lastmodified-"
        ]
    },
    "select": "result"           // Optional. Selects the specified path as the result.
}
```

You may specify a `select` in the request object to reduce the return value to what you actually need.
Resolution works very much like the `select=<ref>` assignment mentioned earlier, however paths are relative to the request, i.e. `"select": "result"` would fetch the request's `result` property.

## Referencing Results

As mentioned in the previous section, several commands allow access to previous results by specifying their position in the batch request.

Positions, _paths_ or _path references_ are a bit similar to file system directory paths or XPath specifications.
In fact, we use a (forward) slash `/` to separate path components.

A component addresses an element relative to the current command block.

A command block is numerically indexed, from index 0 to _n_ - 1 if the block consists of _n_ commands.
Therefore within a block, `3` refers to the result of the command at index `3`, which is the _fourth_ element in the block.

Parent blocks are accessible as `..`, so `../0` refers to the very first result in the parent block.

The top-level (root) command block can be accessed by specifying a sufficient number of `../`, or by a `/` at the very beginning of the path, e.g. `/2`.

If a result is an object, an array or a string, a sub-element of it may be addressed by its respective key / index.
For example, the property `name` of an object (in JSON terminology) `../2/5` is accessible as `../2/5/result/name`.

Invalid references will produce **error objects** `{ "error": ... }` and will **stop batch execution**, unless `resume_on_fail` is enabled.

The selection may be processed further by prepending the selection path with so-called _modifiers_, separated by a colon `:`, e.g. `json:result`.
Modifiers may be stacked and are processed from right (inner-most) to left, i.e. `uri:json:result` would first JSON-encode the `result` property and then URL-encode the JSON string.

This API version supports these modifiers:

| Modifier   | Description                             | Sample result                     | Resulting output         |
| ---------- | --------------------------------------- | --------------------------------- | ------------------------ |
| `csv`      | Produces a comma-separated list         | Array  `[ 1, 2, 3 ]`              | `1,2,3`                  |
| `entities` | Escapes XML/HTML entities               | String `x > y`                    | `x &gt; y`               |
| `json`     | Converts the selection to a JSON string | Object `{ "ID": 2, "name": "X" }` | `{"ID":2,"name":"X"}`    |
| `string`   | Converts the selection to a string      | Boolean `true`                    | `1` (as a string)        |
| `uri`      | URL-encodes the string result           | String `x > y`                    | `x%20%3E%20y`            |

A special "flattening" wildcard `*` can be used to select all properties in an array or object
For example, `result/*/ID` would yield the ID property of all returned objects in the result set such as `[24,31,32]`, rather than this:

```json
{
    "result": [
        {
            "ID": "24",
            ...
        },
        {
            "ID": "31",
            ...
        },
        {
            "ID": "32",
            ...
        }
    ]
}
```

To specify a literal slash `/`, backslash `\`, asterisk `*` or a colon `:` as part of the key, prepend it with a backslash to escape it, e.g. `result/paths/C\:\\Windows`.

## Examples [/batch]

### Trivial Request [POST]

A request with just one command.

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2

    + Body

            [
                {
                    "verb"   : "GET",
                    "path"   : "/mailservers/36"
                }
            ]

+ Response 200 (application/json)

        {
            "result": {
                "result": {
                    "ID"            : "36",
                    "owneruser"     : null,
                    "ownergroup"    : null,
                    "creator"       : null,
                    "creationdate"  : "1424189345",
                    "lastmodified"  : "1424189345",
                    "message"       : null,
                    "recipientuser" : null,
                    "recipientgroup": null,
                    "activity"      : "0",
                    "name"          : "ACME",
                    "sender"        : "",
                    "serverin"      : "",
                    "usernamein"    : "",
                    "serverout"     : "",
                    "usernameout"   : "",
                    "description"   : "",
                    "lastfetch"     : null,
                    "uidvalidity"   : null
                }
            }
        }

### Result Selection [POST]

You can also pre-select a part of the result to conserve bandwidth and make post-processing easier.

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2

    + Body

            [
                {
                    "verb"  : "GET",
                    "path"  : "/mailservers/36",
                    "select": "result/name"
                }
            ]

+ Response 200 (application/json)

        {
            "result": "ACME"
        }

### Simple Batch: Create a Contact and Tag It [POST]

Here, we create a contact for _John Smith_ and tag the contact with _VIP_ and have all results returned.

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2

    + Body

            [
                {
                    "verb": "PUT",
                    "path": "/contacts",
                    "body": { "firstname": "John", "lastname": "Smith" }
                },
                {
                    "verb": "PUT",
                    "path": "/contacts/{{0/result}}/tags/VIP"
                },
                "all"
            ]

+ Response 200 (application/json)

            {
                "result": [
                    {
                        "result": 3701
                    },
                    {
                        "result": true
                    }
                ]
            }

### Non-Transactional Batch With Resume on Failure [POST]

This request turns off database transaction mode and will not abort execution at the first failed command.

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2

    + Body

            [
                "transaction=0",
                "resume_on_fail",
                {
                    "path": "/tasks/45"
                },
                {
                    "path": "/contacts/3701"
                },
                "all"
            ]

+ Response 200 (application/json)

        {
            "result": [
                false,
                true,
                {
                    "error"           : "Could not find item #45 in tasks (or no permission to access it).",
                    "httpCode"        : 404
                },
                {
                    "result": {
                        "ID"          : "3701",
                        "owneruser"   : null,
                        "ownergroup"  : null,
                        "creator"     : null,
                        "assigneduser": null,
                        "creationdate": "1424262775",
                        "lastmodified": "1424262775",
                        "visibility"  : "0",
                        "lastname"    : "Smith",
                        "firstname"   : John",
                        "type"        : "0",
                        "title"       : "",
                        "company"     : "",
                        "position"    : "",
                        "department"  : "",
                        "address"     : "",
                        "postalcode"  : "",
                        "city"        : "",
                        "region"      : "",
                        "country"     : "",
                        "phone"       : "",
                        "phone2"      : "",
                        "cell"        : "",
                        "fax"         : "",
                        "email"       : "",
                        "email2"      : "",
                        "website"     : "",
                        "description": "",
                        "gravatar"   : "",
                        "picbinfile" : null,
                        "birthdate"  : null
                    }
                }
            ]
        }


# Group Accounts
account has the following attributes:

* ID (int4)
* ownergroup (int4)
* creator (int4)
* assigneduser (int4)
* creationdate (int8)
* lastmodified (int8)
* contact (int4)
* visibility (int2)
* lastname (text)
* firstname (text)
* type (int2)
* customernum (text)
* suppliernum (text)
* currency (varchar)
* locked (int2)
* excludetax (int2)
* description (text)


## List/Create/Update Accounts [/accounts/{?monitor}{?object}{?extdata}{?a}{?s}{?w}{?g}{?o}{?n}{?i}{?j}{?m}{?disposition}]

### Select Accounts [GET]

+ Parameters

    + extdata (optional, bool, `1`) ... If `1`, extensional data fields will be returned in a sub-object. If `0`, no extensional data fields will be loaded.
    + a (optional, string) ... Table alias
    + s (optional, array) ... SELECT fields
    + w (optional, array) ... WHERE fields
    + g (optional, array) ... GROUP BY clause
    + o (optional, array) ... ORDER BY clause
    + n (optional, int) ... LIMIT
    + i (optional, int) ... OFFSET
    + j (optional, array) ... JOIN table
        
        | Column / JOIN name | Joined Table | Conditions |
        | ------------------ | ------------ | ---------- |
        | `assigneduser` | `users` | `accounts.assigneduser` = `users.ID` |
        | `contact` | `contacts` | `accounts.contact` = `contacts.ID` |
        | `creator` | `users` | `accounts.creator` = `users.ID` |
        | `ownergroup` | `groups` | `accounts.ownergroup` = `groups.ID` |
        | `tags` | `tags` | `'accounts'` = `tags.entity` AND<br />`accounts.ID` = `tags.index` |
        
    + m (optional, string) ... Case-insensitive text search in columns `lastname`, `firstname`, `customernum`, `suppliernum`


+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2


+ Response 200 (application/json)

    + Body

            {
                "result": [
                    {
                        "ID": "4148",
                        "ownergroup": null,
                        "creator": null,
                        "assigneduser": null,
                        "creationdate": "1433142102",
                        "lastmodified": "1434351702",
                        "contact": "15169",
                        "visibility": "0",
                        "lastname": "Lightexx AG",
                        "firstname": "",
                        "type": "2",
                        "customernum": "",
                        "suppliernum": "",
                        "excludetax": "0",
                        "description": "",
                        "locked": "0",
                        "currency": "EUR"
                    },
                    {
                        "ID": "4149",
                        "ownergroup": null,
                        "creator": null,
                        "assigneduser": null,
                        "creationdate": "1432018902",
                        "lastmodified": "1434006102",
                        "contact": "15170",
                        "visibility": "0",
                        "lastname": "BEQ Building Equipment",
                        "firstname": "",
                        "type": "2",
                        "customernum": "",
                        "suppliernum": "",
                        "excludetax": "0",
                        "description": "",
                        "locked": "0",
                        "currency": "EUR"
                    },
                    {
                        "ID": "4150",
                        "ownergroup": null,
                        "creator": null,
                        "assigneduser": null,
                        "creationdate": "1434178902",
                        "lastmodified": "1437202902",
                        "contact": "15171",
                        "visibility": "0",
                        "lastname": "E-Tronic AB",
                        "firstname": "",
                        "type": "2",
                        "customernum": "",
                        "suppliernum": "",
                        "excludetax": "0",
                        "description": "",
                        "locked": "0",
                        "currency": "EUR"
                    }
                ]
            }

### Create Account [PUT]

+ Parameters

    + monitor (optional, bool, `1`) ... If `0`, no monitor record will be created to log the operation.
    + object (optional, bool, `0`) ... If `1`, the entire object will be returned.


+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2
            Content-Type: application/json

    + Body

            {
                "ownergroup": null,
                "creator": null,
                "assigneduser": null,
                "creationdate": "1433142102",
                "lastmodified": "1434351702",
                "contact": "15169",
                "visibility": "0",
                "lastname": "Lightexx AG",
                "firstname": "",
                "type": "2",
                "customernum": "",
                "suppliernum": "",
                "excludetax": "0",
                "description": "",
                "locked": "0",
                "currency": "EUR"
            }

+ Response 201 (application/json)

    + Body

            {
                "result": 2645
            }

### Update Accounts Specified by Query [POST]

+ Parameters

    + monitor (optional, bool, `1`) ... If `0`, no monitor record will be created to log the operation.
    + object (optional, bool, `0`) ... If `1`, the entire object will be returned.
    + extdata (optional, bool, `1`) ... If `1`, extensional data fields will be returned in a sub-object. If `0`, no extensional data fields will be loaded.
    + a (optional, string) ... Table alias
    + s (optional, array) ... SELECT fields
    + w (optional, array) ... WHERE fields
    + g (optional, array) ... GROUP BY clause
    + o (optional, array) ... ORDER BY clause
    + n (optional, int) ... LIMIT
    + i (optional, int) ... OFFSET
    + j (optional, array) ... JOIN table
        
        | Column / JOIN name | Joined Table | Conditions |
        | ------------------ | ------------ | ---------- |
        | `assigneduser` | `users` | `accounts.assigneduser` = `users.ID` |
        | `contact` | `contacts` | `accounts.contact` = `contacts.ID` |
        | `creator` | `users` | `accounts.creator` = `users.ID` |
        | `ownergroup` | `groups` | `accounts.ownergroup` = `groups.ID` |
        | `tags` | `tags` | `'accounts'` = `tags.entity` AND<br />`accounts.ID` = `tags.index` |
        
    + m (optional, string) ... Case-insensitive text search in columns `lastname`, `firstname`, `customernum`, `suppliernum`


+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2
            Content-Type: application/json

    + Body

            {
                "ownergroup": null,
                "creator": null,
                "assigneduser": null,
                "creationdate": "1433142102",
                "lastmodified": "1434351702",
                "contact": "15169",
                "visibility": "0",
                "lastname": "Lightexx AG",
                "firstname": "",
                "type": "2",
                "customernum": "",
                "suppliernum": "",
                "excludetax": "0",
                "description": "",
                "locked": "0",
                "currency": "EUR"
            }

+ Response 200 (application/json)

    + Body

            {
                "result": true
            }

## Edit Accounts [/accounts/{id}{?monitor}{?object}{?extdata}{?a}{?s}{?w}{?g}{?o}{?n}{?i}{?j}{?m}{?disposition}]
A single Account object with all its details

+ Parameters

    + id (required, number) ... Numeric `id` of the Account
    + extdata (optional, bool, `1`) ... If `1`, extensional data fields will be returned in a sub-object. If `0`, no extensional data fields will be loaded.
    + a (optional, string) ... Table alias
    + s (optional, array) ... SELECT fields
    + w (optional, array) ... WHERE fields
    + g (optional, array) ... GROUP BY clause
    + o (optional, array) ... ORDER BY clause
    + n (optional, int) ... LIMIT
    + i (optional, int) ... OFFSET
    + j (optional, array) ... JOIN table
        
        | Column / JOIN name | Joined Table | Conditions |
        | ------------------ | ------------ | ---------- |
        | `assigneduser` | `users` | `accounts.assigneduser` = `users.ID` |
        | `contact` | `contacts` | `accounts.contact` = `contacts.ID` |
        | `creator` | `users` | `accounts.creator` = `users.ID` |
        | `ownergroup` | `groups` | `accounts.ownergroup` = `groups.ID` |
        | `tags` | `tags` | `'accounts'` = `tags.entity` AND<br />`accounts.ID` = `tags.index` |
        
    + m (optional, string) ... Case-insensitive text search in columns `lastname`, `firstname`, `customernum`, `suppliernum`


### Check If Account Exists [HEAD]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2


+ Response 200


+ Response 404


### Retrieve Account [GET]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2


+ Response 200 (application/json)

    + Body

            {
                "result": {
                    "ID": "4148",
                    "ownergroup": null,
                    "creator": null,
                    "assigneduser": null,
                    "creationdate": "1433142102",
                    "lastmodified": "1434351702",
                    "contact": "15169",
                    "visibility": "0",
                    "lastname": "Lightexx AG",
                    "firstname": "",
                    "type": "2",
                    "customernum": "",
                    "suppliernum": "",
                    "excludetax": "0",
                    "description": "",
                    "locked": "0",
                    "currency": "EUR"
                }
            }

+ Response 404 (application/json)

    + Body

            {
                "error": "Could not find item #2645 in accounts (or no permission to access it)."
            }

### Update Account [POST]

+ Parameters

    + monitor (optional, bool, `1`) ... If `0`, no monitor record will be created to log the operation.
    + object (optional, bool, `0`) ... If `1`, the entire object will be returned.



+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2
            Content-Type: application/json

    + Body

            {
                "ownergroup": null,
                "creator": null,
                "assigneduser": null,
                "creationdate": "1433142102",
                "lastmodified": "1434351702",
                "contact": "15169",
                "visibility": "0",
                "lastname": "Lightexx AG",
                "firstname": "",
                "type": "2",
                "customernum": "",
                "suppliernum": "",
                "excludetax": "0",
                "description": "",
                "locked": "0",
                "currency": "EUR"
            }

+ Response 200 (application/json)

    + Body

            {
                "result": true
            }

### Remove Account [DELETE]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2


+ Response 200 (application/json)

    + Body

            {
                "result": true
            }

## List/Add/Replace Tags [/accounts/{id}/tags]

+ Parameters

    + id (required, number) ... Numeric `id` of the account


### Retrieve Tags [GET]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2


+ Response 200 (application/json)

    + Body

            {
                "result": [
                    "tag1",
                    "tag2",
                    "tag3"
                ]
            }

### Add Tags [POST]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2
            Content-Type: application/json

    + Body

            {
                "tags": [
                    "tag1",
                    "tag2",
                    "tag3"
                ]
            }

+ Response 200 (application/json)

    + Body

            {
                "result": [
                    true
                ]
            }

### Replace Tags [PUT]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2
            Content-Type: application/json

    + Body

            {
                "tags": [
                    "tag4"
                ]
            }

+ Response 200 (application/json)

    + Body

            {
                "result": [
                    true
                ]
            }

## Manage Tags [/accounts/{id}/tags/{tag}]

+ Parameters

    + id (required, number) ... Numeric `id` of the account
    + tag (required, string) ... The tag name


### Check If a Tag Exists [HEAD]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2


+ Response 200


+ Response 404


### Retrieve a Tag [GET]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2


+ Response 200 (application/json)

    + Body

            {
                "result": true
            }

+ Response 404 (application/json)

    + Body

            {
                "result": false
            }

### Add a Tag [PUT]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2


+ Response 200 (application/json)

    + Body

            {
                "result": true
            }

+ Response 201 (application/json)

    + Body

            {
                "result": true
            }

### Remove a Tag  [DELETE]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2


+ Response 200 (application/json)

    + Body

            {
                "result": true
            }

## List Associates [/accounts/{id}/associates/{?entity}]
Lists all associated objects for a single Account.

+ Parameters

    + id (required, number) ... Numeric `id` of the Account
    + entity (optional, string) ... Limit the associates list to a specific entity


### Retrieve Associates [GET]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2


+ Response 200 (application/json)

    + Body

            {
                "result": {
                    "entity": "notes",
                    "index": "32",
                    "relation": "",
                    "creationdate": "1418388147"
                },
                "0": {
                    "entity": "campaigns",
                    "index": "7",
                    "relation": "Initial contact",
                    "creationdate": "1418388156"
                }
            }

## Edit/Create Associates [/accounts/{id}/associates/{entity}/{index}{?relation}]
Add or change an association.

+ Parameters

    + id (required, number) ... Numeric `id` of the Account
    + entity (required, string) ... Name of the associated entity
    + index (required, string) ... ID of the associated resource
    + relation (optional, string) ... Relationship description


### Add an Association [PUT]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2


+ Response 201 (application/json)

    + Body

            {
                "result": 1
            }

### Update an Association [POST]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2


+ Response 200 (application/json)

    + Body

            {
                "result": true
            }

### Remove an Association [DELETE]

+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2


+ Response 200 (application/json)

    + Body

            {
                "result": true
            }


# Group Actionsteps
actionstep has the following attributes:

* ID (int4)
* owneruser (int4)
* ownergroup (int4)
* creator (int4)
* assigneduser (int4)
* creationdate (int8)
* lastmodified (int8)
* task (int4)
* ticket (int4)
* account (int4)
* transaction (int4)
* name (text)
* actionnum (text)
* date (int8)
* duedate (int8)
* status (int2)
* effort (int4)
* description (text)


## List/Create/Update Actionsteps [/actionsteps/{?monitor}{?object}{?extdata}{?a}{?s}{?w}{?g}{?o}{?n}{?i}{?j}{?m}{?disposition}]

### Select Actionsteps [GET]

+ Parameters

    + extdata (optional, bool, `1`) ... If `1`, extensional data fields will be returned in a sub-object. If `0`, no extensional data fields will be loaded.
    + a (optional, string) ... Table alias
    + s (optional, array) ... SELECT fields
    + w (optional, array) ... WHERE fields
    + g (optional, array) ... GROUP BY clause
    + o (optional, array) ... ORDER BY clause
    + n (optional, int) ... LIMIT
    + i (optional, int) ... OFFSET
    + j (optional, array) ... JOIN table
        
        | Column / JOIN name | Joined Table | Conditions |
        | ------------------ | ------------ | ---------- |
        | `account` | `accounts` | `actionsteps.account` = `accounts.ID` |
        | `assigneduser` | `users` | `actionsteps.assigneduser` = `users.ID` |
        | `creator` | `users` | `actionsteps.creator` = `users.ID` |
        | `ownergroup` | `groups` | `actionsteps.ownergroup` = `groups.ID` |
        | `owneruser` | `users` | `actionsteps.owneruser` = `users.ID` |
        | `task` | `tasks` | `actionsteps.task` = `tasks.ID` |
        | `ticket` | `tickets` | `actionsteps.ticket` = `tickets.ID` |
        | `transaction` | `transactions` | `actionsteps.transaction` = `transactions.ID` |
        | `tags` | `tags` | `'actionsteps'` = `tags.entity` AND<br />`actionsteps.ID` = `tags.index` |
        
    + m (optional, string) ... Case-insensitive text search in columns `name`, `actionnum`


+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2


+ Response 200 (application/json)

    + Body

            {
                "result": [
                    {
                        "ID": "11069",
                        "owneruser": null,
                        "ownergroup": null,
                        "creator": null,
                        "assigneduser": null,
                        "creationdate": "1431300477",
                        "lastmodified": "1431300477",
                        "task": "2437",
                        "ticket": null,
                        "account": null,
                        "transaction": null,
                        "name": "Fix minor issues",
                        "actionnum": "",
                        "date": "1431300477",
                        "status": "0",
                        "effort": "125",
                        "description": "",
                        "duedate": null
                    },
                    {
                        "ID": "11070",
                        "owneruser": null,
                        "ownergroup": null,
                        "creator": null,
                        "assigneduser": null,
                        "creationdate": "1431355668",
                        "lastmodified": "1431355668",
                        "task": "2437",
                        "ticket": null,
                        "account": null,
                        "transaction": null,
                        "name": "Fix minor issues",
                        "actionnum": "",
                        "date": "1431355668",
                        "status": "0",
                        "effort": "145",
                        "description": "",
                        "duedate": null
                    },
                    {
                        "ID": "11071",
                        "owneruser": null,
                        "ownergroup": null,
                        "creator": null,
                        "assigneduser": null,
                        "creationdate": "1431368064",
                        "lastmodified": "1431368064",
                        "task": "2437",
                        "ticket": null,
                        "account": null,
                        "transaction": null,
                        "name": "Sample entry",
                        "actionnum": "",
                        "date": "1431368064",
                        "status": "0",
                        "effort": "135",
                        "description": "",
                        "duedate": null
                    }
                ]
            }

### Create Actionstep [PUT]

+ Parameters

    + monitor (optional, bool, `1`) ... If `0`, no monitor record will be created to log the operation.
    + object (optional, bool, `0`) ... If `1`, the entire object will be returned.


+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2
            Content-Type: application/json

    + Body

            {
                "owneruser": null,
                "ownergroup": null,
                "creator": null,
                "assigneduser": null,
                "creationdate": "1431300477",
                "lastmodified": "1431300477",
                "task": "2437",
                "ticket": null,
                "account": null,
                "transaction": null,
                "name": "Fix minor issues",
                "actionnum": "",
                "date": "1431300477",
                "status": "0",
                "effort": "125",
                "description": "",
                "duedate": null
            }

+ Response 201 (application/json)

    + Body

            {
                "result": 2645
            }

### Update Actionsteps Specified by Query [POST]

+ Parameters

    + monitor (optional, bool, `1`) ... If `0`, no monitor record will be created to log the operation.
    + object (optional, bool, `0`) ... If `1`, the entire object will be returned.
    + extdata (optional, bool, `1`) ... If `1`, extensional data fields will be returned in a sub-object. If `0`, no extensional data fields will be loaded.
    + a (optional, string) ... Table alias
    + s (optional, array) ... SELECT fields
    + w (optional, array) ... WHERE fields
    + g (optional, array) ... GROUP BY clause
    + o (optional, array) ... ORDER BY clause
    + n (optional, int) ... LIMIT
    + i (optional, int) ... OFFSET
    + j (optional, array) ... JOIN table
        
        | Column / JOIN name | Joined Table | Conditions |
        | ------------------ | ------------ | ---------- |
        | `account` | `accounts` | `actionsteps.account` = `accounts.ID` |
        | `assigneduser` | `users` | `actionsteps.assigneduser` = `users.ID` |
        | `creator` | `users` | `actionsteps.creator` = `users.ID` |
        | `ownergroup` | `groups` | `actionsteps.ownergroup` = `groups.ID` |
        | `owneruser` | `users` | `actionsteps.owneruser` = `users.ID` |
        | `task` | `tasks` | `actionsteps.task` = `tasks.ID` |
        | `ticket` | `tickets` | `actionsteps.ticket` = `tickets.ID` |
        | `transaction` | `transactions` | `actionsteps.transaction` = `transactions.ID` |
        | `tags` | `tags` | `'actionsteps'` = `tags.entity` AND<br />`actionsteps.ID` = `tags.index` |
        
    + m (optional, string) ... Case-insensitive text search in columns `name`, `actionnum`


+ Request

    + Headers

            Authorization: ZeyOS-Token 6183ec9028caeee647246be2ac82e620a1830b6d com.example.app1.device2
            Content-Type: application/json

    + Body

            {
                "owneruser": null,
                "ownergroup": null,
                "creator": null,
                "assigneduser": null,
                "creationdate": "1431300477",
[...]
