{
    "swagger": "2.0",
    "info": {
        "version": "1.0",
        "title": "ZeyOS REST API (Swagger)",
        "description": "This endpoint lets you list, create, delete and update weblets. If you want to learn more about queries and data filters, read our documentation at http://docs.zeyos.apiary.io/#introduction/sql-via-rest and http://docs.zeyos.apiary.io/reference/weblets",
        "termsOfService": "https://www.zeyos.com/termsofservice/",
        "contact": {
            "name": "ZeyOS API Team",
            "email": "info@zeyos.com",
            "url": "https://www.zeyos.com/"
        },
        "license": {
            "name": "Proprietary License",
            "url": "https://www.zeyos.com/"
        }
    },
    "externalDocs": {
        "description": "Schema definition",
        "url": "http://schema.zeyos.com/"
    },
    "schemes": [
        "https",
        "http"
    ],
    "host": "api.zeyos.com",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "tags": [
        {
            "name": "REST"
        }
    ],
    "paths": {
        "/{platform}/1.0/accounts": {
            "get": {
                "description": "Retrieves accounts",
                "operationId": "getAccounts",
                "parameters": [
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "n",
                        "in": "query",
                        "description": "LIMIT",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "i",
                        "in": "query",
                        "description": "OFFSET",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/accountObjects"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            },
            "post": {
                "description": "Updates accounts specified by query",
                "operationId": "updateAccountsByQuery",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The record's ID column value",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": "1"
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "n",
                        "in": "query",
                        "description": "LIMIT",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "i",
                        "in": "query",
                        "description": "OFFSET",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "The request body's content type",
                        "required": true,
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "extdata",
                        "in": "query",
                        "description": "If true, extensional data will be included in the result object as a sub-object",
                        "required": false,
                        "type": "boolean",
                        "default": "false"
                    },
                    {
                        "name": "object",
                        "in": "query",
                        "description": "If true, the object will be returned rather than a boolean result in case of success",
                        "required": false,
                        "type": "boolean",
                        "default": "false"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/accountObject"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/objectResult"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            },
            "put": {
                "description": "Creates an account",
                "operationId": "createAccount",
                "parameters": [
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "The request body's content type",
                        "required": true,
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "extdata",
                        "in": "query",
                        "description": "If true, extensional data will be included in the result object as a sub-object",
                        "required": false,
                        "type": "boolean",
                        "default": "false"
                    },
                    {
                        "name": "object",
                        "in": "query",
                        "description": "If true, the object will be returned rather than a boolean result in case of success",
                        "required": false,
                        "type": "boolean",
                        "default": "false"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/accountObject"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/objectResult"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            }
        },
        "/{platform}/1.0/accounts/{id}": {
            "delete": {
                "description": "Deletes the account with the specified ID",
                "operationId": "deleteAccountById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The record's ID column value",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": "1"
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "n",
                        "in": "query",
                        "description": "LIMIT",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "i",
                        "in": "query",
                        "description": "OFFSET",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/objectResult"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            },
            "get": {
                "description": "Retrieves the account with the specified ID",
                "operationId": "getAccountById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The record's ID column value",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": "1"
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "n",
                        "in": "query",
                        "description": "LIMIT",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "i",
                        "in": "query",
                        "description": "OFFSET",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/accountObject"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            },
            "head": {
                "description": "Checks if the account with the specified ID exists",
                "operationId": "accountExists",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The record's ID column value",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": "1"
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "n",
                        "in": "query",
                        "description": "LIMIT",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "i",
                        "in": "query",
                        "description": "OFFSET",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/emptyResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Updates the account with the specified ID",
                "operationId": "updateAccountById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The record's ID column value",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": "1"
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "n",
                        "in": "query",
                        "description": "LIMIT",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "i",
                        "in": "query",
                        "description": "OFFSET",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "The request body's content type",
                        "required": true,
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "extdata",
                        "in": "query",
                        "description": "If true, extensional data will be included in the result object as a sub-object",
                        "required": false,
                        "type": "boolean",
                        "default": "false"
                    },
                    {
                        "name": "object",
                        "in": "query",
                        "description": "If true, the object will be returned rather than a boolean result in case of success",
                        "required": false,
                        "type": "boolean",
                        "default": "false"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/accountObject"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/objectResult"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            }
        },
        "/{platform}/1.0/actionsteps": {
            "get": {
                "description": "Retrieves actionsteps",
                "operationId": "getActionsteps",
                "parameters": [
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "n",
                        "in": "query",
                        "description": "LIMIT",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "i",
                        "in": "query",
                        "description": "OFFSET",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/actionstepObjects"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            },
            "post": {
                "description": "Updates actionsteps specified by query",
                "operationId": "updateActionstepsByQuery",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The record's ID column value",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": "1"
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "n",
                        "in": "query",
                        "description": "LIMIT",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "i",
                        "in": "query",
                        "description": "OFFSET",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "The request body's content type",
                        "required": true,
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "extdata",
                        "in": "query",
                        "description": "If true, extensional data will be included in the result object as a sub-object",
                        "required": false,
                        "type": "boolean",
                        "default": "false"
                    },
                    {
                        "name": "object",
                        "in": "query",
                        "description": "If true, the object will be returned rather than a boolean result in case of success",
                        "required": false,
                        "type": "boolean",
                        "default": "false"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/actionstepObject"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/objectResult"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            },
            "put": {
                "description": "Creates an actionstep",
                "operationId": "createActionstep",
                "parameters": [
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "The request body's content type",
                        "required": true,
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "extdata",
                        "in": "query",
                        "description": "If true, extensional data will be included in the result object as a sub-object",
                        "required": false,
                        "type": "boolean",
                        "default": "false"
                    },
                    {
                        "name": "object",
                        "in": "query",
                        "description": "If true, the object will be returned rather than a boolean result in case of success",
                        "required": false,
                        "type": "boolean",
                        "default": "false"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/actionstepObject"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/objectResult"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            }
        },
        "/{platform}/1.0/actionsteps/{id}": {
            "delete": {
                "description": "Deletes the actionstep with the specified ID",
                "operationId": "deleteActionstepById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The record's ID column value",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": "1"
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "n",
                        "in": "query",
                        "description": "LIMIT",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "i",
                        "in": "query",
                        "description": "OFFSET",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/objectResult"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            },
            "get": {
                "description": "Retrieves the actionstep with the specified ID",
                "operationId": "getActionstepById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The record's ID column value",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": "1"
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "n",
                        "in": "query",
                        "description": "LIMIT",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "i",
                        "in": "query",
                        "description": "OFFSET",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/actionstepObject"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            },
            "head": {
                "description": "Checks if the actionstep with the specified ID exists",
                "operationId": "actionstepExists",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The record's ID column value",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": "1"
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "n",
                        "in": "query",
                        "description": "LIMIT",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "i",
                        "in": "query",
                        "description": "OFFSET",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/emptyResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Updates the actionstep with the specified ID",
                "operationId": "updateActionstepById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The record's ID column value",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": "1"
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "n",
                        "in": "query",
                        "description": "LIMIT",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "i",
                        "in": "query",
                        "description": "OFFSET",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "The request body's content type",
                        "required": true,
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "extdata",
                        "in": "query",
                        "description": "If true, extensional data will be included in the result object as a sub-object",
                        "required": false,
                        "type": "boolean",
                        "default": "false"
                    },
                    {
                        "name": "object",
                        "in": "query",
                        "description": "If true, the object will be returned rather than a boolean result in case of success",
                        "required": false,
                        "type": "boolean",
                        "default": "false"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/actionstepObject"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/objectResult"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            }
        },
        "/{platform}/1.0/applications": {
            "get": {
                "description": "Retrieves applications",
                "operationId": "getApplications",
                "parameters": [
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "n",
                        "in": "query",
                        "description": "LIMIT",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "i",
                        "in": "query",
                        "description": "OFFSET",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/applicationObjects"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            },
            "post": {
                "description": "Updates applications specified by query",
                "operationId": "updateApplicationsByQuery",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The record's ID column value",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": "1"
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "n",
                        "in": "query",
                        "description": "LIMIT",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "i",
                        "in": "query",
                        "description": "OFFSET",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "The request body's content type",
                        "required": true,
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "extdata",
                        "in": "query",
                        "description": "If true, extensional data will be included in the result object as a sub-object",
                        "required": false,
                        "type": "boolean",
                        "default": "false"
                    },
                    {
                        "name": "object",
                        "in": "query",
                        "description": "If true, the object will be returned rather than a boolean result in case of success",
                        "required": false,
                        "type": "boolean",
                        "default": "false"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/applicationObject"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/objectResult"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            },
            "put": {
                "description": "Creates an application",
                "operationId": "createApplication",
                "parameters": [
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "The request body's content type",
                        "required": true,
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "extdata",
                        "in": "query",
                        "description": "If true, extensional data will be included in the result object as a sub-object",
                        "required": false,
                        "type": "boolean",
                        "default": "false"
                    },
                    {
                        "name": "object",
                        "in": "query",
                        "description": "If true, the object will be returned rather than a boolean result in case of success",
                        "required": false,
                        "type": "boolean",
                        "default": "false"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/applicationObject"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/objectResult"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            }
        },
        "/{platform}/1.0/applications/{id}": {
            "delete": {
                "description": "Deletes the application with the specified ID",
                "operationId": "deleteApplicationById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The record's ID column value",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": "1"
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "n",
                        "in": "query",
                        "description": "LIMIT",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "i",
                        "in": "query",
                        "description": "OFFSET",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/objectResult"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            },
            "get": {
                "description": "Retrieves the application with the specified ID",
                "operationId": "getApplicationById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The record's ID column value",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": "1"
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "n",
                        "in": "query",
                        "description": "LIMIT",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "i",
                        "in": "query",
                        "description": "OFFSET",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/applicationObject"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            },
            "head": {
                "description": "Checks if the application with the specified ID exists",
                "operationId": "applicationExists",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The record's ID column value",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": "1"
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "n",
                        "in": "query",
                        "description": "LIMIT",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "i",
                        "in": "query",
                        "description": "OFFSET",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/emptyResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Updates the application with the specified ID",
                "operationId": "updateApplicationById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The record's ID column value",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "default": "1"
                    },
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "a",
                        "in": "query",
                        "description": "Table alias",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "SELECT fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "w",
                        "in": "query",
                        "description": "WHERE fields",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "GROUP BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "o",
                        "in": "query",
                        "description": "ORDER BY clause",
                        "required": false,
                        "type": "string"
                    },
                    {
[...]
