{
    "swagger": "2.0",
    "info": {
        "version": "1.0",
        "title": "ZeyOS: Base",
        "description": "Authentication and session management and platform configuration data",
        "termsOfService": "https://www.zeyos.com/termsofservice/",
        "contact": {
            "name": "ZeyOS API Team",
            "email": "info@zeyos.com",
            "url": "https://www.zeyos.com/"
        },
        "license": {
            "name": "Proprietary License",
            "url": "https://www.zeyos.com/"
        }
    },
    "externalDocs": {
        "description": "Schema definition",
        "url": "http://schema.zeyos.com/"
    },
    "schemes": [
        "https",
        "http"
    ],
    "host": "api.zeyos.com",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "tags": [
        {
            "name": "REST"
        }
    ],
    "paths": {
        "/{platform}/1.0/auth": {
            "delete": {
                "parameters": [
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invalidates the authentication token",
                        "schema": {
                            "$ref": "#/definitions/trueResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            },
            "get": {
                "parameters": [
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User and session information about the authenticated user",
                        "schema": {
                            "$ref": "#/definitions/authResult"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            },
            "head": {
                "parameters": [
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User is authenticated",
                        "schema": {
                            "$ref": "#/definitions/emptyResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            },
            "post": {
                "parameters": [
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "body",
                        "description": "Authentication data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/authObject"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "The request body's content type",
                        "required": true,
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Creates an authentication token",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "501": {
                        "description": "Not Implemented",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            }
        },
        "/{platform}/1.0/timezone": {
            "get": {
                "parameters": [
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Timezone details",
                        "schema": {
                            "$ref": "#/definitions/timezoneResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            }
        },
        "/{platform}/1.0/version": {
            "get": {
                "parameters": [
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "The name of your platform",
                        "required": true,
                        "type": "string",
                        "default": "sandbox"
                    },
                    {
                        "name": "Zeyos-Api-Token",
                        "in": "header",
                        "description": "The app and device identifier, a colon and the corresponding authentication token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ZeyOS and REST API version",
                        "schema": {
                            "$ref": "#/definitions/versionResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/defaultError"
                        }
                    }
                }
            }
        }
    },
    "parameters": {
        "authToken": {
            "name": "Zeyos-Api-Token",
            "in": "header",
            "description": "The ZeyOS API concatenated token identifier, a colon \":\" and the authentication token value",
            "required": true,
            "type": "string"
        },
        "platform": {
            "name": "platform",
            "in": "path",
            "description": "The name of your platform",
            "required": true,
            "type": "string",
            "default": "sandbox"
        },
        "id": {
            "name": "id",
            "in": "path",
            "description": "The record's ID column value",
            "required": true,
            "type": "integer",
            "format": "int64",
            "default": 1
        },
        "extDataQuery": {
            "name": "extdata",
            "in": "query",
            "description": "If true, extensional data will be included in the result object as a sub-object",
            "required": false,
            "type": "boolean",
            "default": false
        },
        "object": {
            "name": "object",
            "in": "query",
            "description": "If true, the object will be returned rather than a boolean result in case of success",
            "required": false,
            "type": "boolean",
            "default": false
        }
    },
    "definitions": {
        "authObject": {
            "type": "object",
            "required": [
                "user",
                "password",
                "identifier"
            ],
            "properties": {
                "user": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "identifier": {
                    "type": "string"
                }
            }
        },
        "queryObject": {
            "type": "object",
            "required": [
                "user",
                "password",
                "identifier"
            ],
            "properties": {
                "a": {
                    "type": "string"
                },
                "d": {
                    "type": "boolean",
                    "default": "false"
                },
                "g": {
                    "$ref": "#/definitions/groupBy"
                },
                "h": {
                    "$ref": "#/definitions/conditions"
                },
                "i": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                },
                "m": {
                    "type": "string"
                },
                "n": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0
                },
                "o": {
                    "$ref": "#/definitions/orderBy"
                },
                "q": {
                    "type": "string"
                },
                "s": {
                    "$ref": "#/definitions/columns"
                },
                "w": {
                    "$ref": "#/definitions/conditions"
                },
                "x": {
                    "type": "boolean",
                    "default": "false"
                }
            }
        },
        "joins": {
            "type": "array",
            "items": {
                "type": "array",
                "items": {
                    "type": "string"
                }
            }
        },
        "conditions": {
            "type": "array",
            "items": {
                "type": "array",
                "items": {
                    "type": "string"
                }
            }
        },
        "defaultError": {
            "type": "object",
            "required": [
                "error"
            ],
            "properties": {
                "error": {
                    "type": "string"
                }
            }
        },
        "true": {
            "type": "boolean",
            "default": "true"
        },
        "trueResponse": {
            "type": "object",
            "required": [
                "result"
            ],
            "properties": {
                "result": {
                    "$ref": "#/definitions/true"
                }
            }
        },
        "trueOrErrorResponse": {
            "type": "object",
            "properties": {
                "result": {
                    "type": "boolean",
                    "default": "true"
                },
                "error": {
                    "type": "string"
                }
            }
        },
        "objectResult": {
            "type": "object",
            "required": [
                "result"
            ],
            "properties": {
                "result": {
                    "type": "object"
                }
            }
        },
        "response": {
            "type": "object",
            "properties": {
                "result": {
                    "type": "object"
                },
                "error": {
                    "type": "string"
                }
            }
        },
        "authResult": {
            "type": "object",
            "required": [
                "result"
            ],
            "properties": {
                "result": {
                    "$ref": "#/definitions/authResultObject"
                }
            }
        },
        "authResultObject": {
            "type": "object",
            "required": [
                "ID"
            ],
            "properties": {
                "ID": {
                    "type": "integer",
                    "format": "int64"
                },
                "creator": {
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "timezoneResult": {
            "type": "object",
            "required": [
                "result"
            ],
            "properties": {
                "result": {
                    "$ref": "#/definitions/versionResultObject"
                }
            }
        },
        "timezoneResultObject": {
            "type": "object",
            "required": [
                "name",
                "offset"
            ],
            "properties": {
                "name": {
                    "type": "string"
                },
                "offset": {
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "versionResult": {
            "type": "object",
            "required": [
                "result"
            ],
            "properties": {
                "result": {
                    "$ref": "#/definitions/versionResultObject"
                }
            }
        },
        "versionResultObject": {
            "type": "object",
            "required": [
                "zeyos",
                "api"
            ],
            "properties": {
                "zeyos": {
                    "type": "integer",
                    "format": "int64"
                },
                "api": {
                    "type": "integer",
                    "format": "int64"
                }
            }
        }
    }
}